<!--<img src="http://freehdwall.info/wall/tiesto-music-live-concert-club-wallpaper-1920x1200.jpg" alt=""/>-->
<!--<div style="background:url('http://freehdwall.info/wall/tiesto-music-live-concert-club-wallpaper-1920x1200.jpg') ">-->
<div class="splash">
<div class="container-fluid well2"  style=" padding-bottom: 25px; width: 850px;">
    <h1 style=" color:#000000;
     font-family: 'Book Antiqua'; font-size: 400%">Welcome to
        <span style=" color:#d58512;"> ClubIt </span>
    </h1>
    <!--<h3>Double click anything to edit</h3>-->

    <h2 style="font-family: 'Font-Awesome';font-style: italic;color: #292929" >
        This website is non-profit and for educational purposes only!
    </h2>
    <br/>
    <!--<input type="button" ng-click="Continue()" value="Continue to Website"/>-->
    <button class="btn btn-warning center-block animated infinite pulse"
            style="margin-right: 90px;" ng-click="Continue()">Continue to Website</button>
</div>
</div>