<div class="modal-header">
    <h1 class="modal-title">Please enter new Course name</h1>
</div>
<div class="modal-body">
    <label>Please enter course name</label>
    <input type="text" id="bodyInput" ng-model="activityName"/><br/>
    <label>Please choose course starting picture</label>
    <input type="file" value="Choose Image"
           onchange="angular.element(this).scope().uploadFile(this.files)"/>
    <br/>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">CANCEL</button>
</div>