<div>
    <ng-include src="'views/head/head.html'"></ng-include>
</div>

<!--<div class="ContentClass" style="float:right">-->
    <!--<img style="width:120px;height:80px;"  src="{{theSrc}}" />-->
    <!--<br/>-->
    <!--<button ng-click="captureImage()">CAPTURE</button>-->



<!--</div>-->



<!---------------------->
<!--<p>Hello World!</p>-->


<!--<div class="row">-->
    <!--<div class="col-sm-4 col-md-12 col-lg-4">PARA</div>-->
    <!--<hr/>-->
<!--</div>-->
<!--<div class="row">-->

    <!--<div class="col-sm-6 col-md-6 col-lg-4" style="background-color:lavender;"> <h1>Hello Gym!</h1>-->
        <!--<strong><p>Our Club</p></strong>-->
        <!--<div class="row">-->
            <!--<div class="col-sm-6 col-md-6 col-lg-6" >-->
                <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod-->
                    <!--tempor incididunt ut labore et dolore magna aliqua.</p>-->

                <!--<a  title="click" data-toggle="popover" data-trigger="focus"-->
                    <!--data-content="Click anywhere in the document to close this popover">Click me</a>-->

                <!--<p> {{name}} </p>-->
            <!--</div>-->
            <!--<div class="col-sm-6 col-md-6 col-lg-6" style="background-color:lavenderblush;">-->
                <!--<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium-->
                    <!--doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore-->
                    <!--veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="col-sm-4" style="background-color:inherit;"><img src="1.jpg" alt="pool"-->
                                                                 <!--style="width: 400px;height: 128px"/></div>-->
    <!--<div class="col-sm-4" style="background-color:lavender;">-->
        <!--<div class="row">-->
            <!--<div class="col-sm-6">-->
                <!--<strong>-->
                    <!--<h1>GUIDES</h1>-->
                    <!--<br/>-->
                    <!--<a>Arieal Tsrfati</a>-->
                    <!--<img src="g1.jpg" style="width: 100px;height: 100px"/>-->
                    <!--<br/>-->
                    <!--<a>Manuel Bordigo</a>-->
                    <!--<img src="g2.jpg" style="width: 100px;height: 100px"/>-->
                    <!--<br/>-->
                    <!--<a>Aviva Peckrman</a>-->
                    <!--<img src="g3.jpg" style="width: 100px;height: 100px"/>-->

                <!--</strong>-->
            <!--</div>-->
        <!--</div>-->

    <!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="container">-->
    <!--<h2>CLUBIT</h2>-->
    <!--<div>-->
        <!--<iframe  width="800" height="400" src="http://www.youtube.com/embed/FDGEmSIXOi4?wmode=transparent" frameborder="1"></iframe>-->

    <!--</div>-->
    <!--<br/>-->
    <!--<hr>-->


    <!--<div class="row">-->


        <!--<div class="col-sm-3 col-md-4 col-lg-4">-->

        <!--</div>-->



    <!--</div>-->


<!--</div>-->

