<div class="modal-header">
    <h1 class="modal-title">Changing Text</h1>
</div>

<div class="modal-body">

    <label for="">Message Title </label> <br/>
    <input type="text"  ng-model="newMessageTitle"/><br/>

    <label for="">Message Content </label> <br/>
    <textarea  ng-model="newMessageContent"></textarea><br/>

    <label>Message Date</label><br/>
    <input type="text"  ng-model="newMessageDate"/><br/>

</div>

<div class="modal-footer">
    <button class="btn btn-danger" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">CANCEL</button>
</div>